@use 'variable' as v;

/* ---------------------------
  header
----------------------------- */
.header {
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  @include v.mq(v.$sp-wide) {
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
  }
}
.header__logo {
  a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    @include v.hoverOpacity;
    &:hover {
      opacity: 0.8;
    }
  }
}

.g-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.g-nav__item {
  a {
    display: block;
    padding: 8px;
  }
}
.g-nav__item__mypage {
  padding: 8px;
  padding-right: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  span {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
}

main {
  display: block;
  @include v.mq(v.$sp-wide) {
    padding-bottom: 24px;
  }
}

/* ---------------------------
  footer
----------------------------- */
.footer__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 10px;
  text-align: center;
  background-color: #f2f2f2;
}
.f-nav {
  display: none;
  @include v.mq(v.$tab) {
   display: block;
  }
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #f2f2f2;
}
.f-nav-list {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 48px;
}
.f-nav-list__item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 4px 16px;
  }
}
