@use 'reset';
@use 'foundation';
@use 'component';
@use 'common';
@use 'top';
@use 'login-register';
@use 'variable' as v;

h1:not([class]) {
  margin-bottom: 1em;
  font-size: 24px;
}
h2:not([class]) {
  margin-bottom: 0.5em;
  font-size: 20px;
}
h3:not([class]) {
  margin-bottom: 0.5em;
  font-size: 18px;
}
time {
  font-size: 12px;
  text-decoration: none;
}
.section {
  padding: 64px 0;
  @include v.mq(v.$sp-wide) {
    padding: 32px 0;
  }
}

.p-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-bottom: -32px;
}
.p-list__item {
  width: 50%;
  padding-left: 32px;
  margin-bottom: 32px;
  @include v.mq(v.$tab) {
    width: 100%;
  }
}
.p-list__item-inner {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 6px;
  overflow: hidden;
}

.p-list-thumb {
  display: flex;
  text-decoration: none;
}
.p-list-thumb__item {
  width: 50%;
  img {
    object-fit: cover;
  }
}
.p-list-text {
  display: block;
  padding: 16px 16px 12px;
  border-bottom: 1px solid var(--bgMainColor);
  @include v.mq(v.$sp-wide) {
    padding: 12px;
  }
}
.p-list-text__title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
}

.p-list-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}
.p-list-meta__prof {
  display: flex;
  align-items: center;
  .icon {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    display: block;
    font-size: 12px;
    padding: 4px 16px;
    padding-left: 12px;
  }
}


.post-pagination {
  margin-top: 48px;
}
.post-sort {
  margin-bottom: 32px;
}


.form {
  dl {
    display: flex;
    margin-bottom: 20px;
    @include v.mq(v.$sp-wide) {
      display: block;
      margin-bottom: 16px;
    }
  }
  dt {
    width: 128px;
    padding-top: 4px;
    padding-right: 16px;
    font-size: 14px;
  }
  dd {
    width: calc(100% - 128px);
    @include v.mq(v.$sp-wide) {
      width: 100%;
      margin-top: 4px;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 4px 8px;
    font-size: 16px;
    font-family: var(--mainFont);
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    &:focus {
      background-color: #fafafa;
    }
  }
  textarea {
    height: 200px;
  }
}
.form-out {
  margin-top: 16px;
  text-align: center;
  a {
    font-size: 14px;
    @include v.hoverUnderlineNone;
  }
}


.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-wrapper {
  max-width: 640px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__content {
  width: 100%;
}
.modal__save,
.modal__cancel {
  display: block;
  margin: 16px auto;
  padding: 16px 20px;
  width: 100%;
  max-width: 240px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.modal__save {
  background-color: var(--baseColor);
}
.modal__cancel {
  background-color: #444444;
}
.cropper-container {
  width: 100%;
}
